@import url(./reset.css);

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

header {
  background-color: #f5f5f5;
}

.head-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%; */
}

.title-1 {
  color: #061325;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
  line-height: 50px;
  letter-spacing: 0.2px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 40px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #061325;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #36ace0;
}

.icon-list {
  display: none;
}

/* HERO BANNER */

.hero {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-image: url("../content/logo.png"); */
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.hero video {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: grayscale(60%);
}

.hero h1 {
  color: #061325;
  margin-bottom: 40px;
  animation: fadeInDown 1s ease-in-out;
  z-index: 100;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #36ace0;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 30px;
  animation: fadeInUp 1s ease-in-out;
  z-index: 100;
}

.about {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-bottom: 40px;
}

.about h2 {
  font-size: 25px;
  color: #333;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  animation: fadeInDown 1s ease-in-out;
}

.about p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  animation: fadeInUp 1s ease-in-out;
}

/* ANIMATION */

@keyframes fadeInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* STATS */

.contentContainer-1 {
  background: #f2f2f2;
  padding: 20px;
  max-width: 400px;
  min-width: 150px;
  margin: 5vh auto;
  border-radius: 10px;
  border: solid 5px #dbdbdb;
}

.skillBar {
  margin-bottom: 26px;
  margin-bottom: 1.66em;
}

.skillBar h3 {
  font-size: 21px;
  font-size: 1.33em;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 7px;
  margin-bottom: 0.33em;
}

.skillBarContainer {
  width: 100%;
  max-width: 350px;
  height: 26px;
  height: 1.66em;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 5px;
}
.skillBarValue {
  height: 1.66em;
  float: left;
  background: #36ace0;
  background: rgba(54, 172, 224, 0.75);
}

/* Allowed values for the css skill bars */

.value-60 {
  width: 60%;
}
.value-70 {
  width: 70%;
}
.value-80 {
  width: 80%;
}
.value-90 {
  width: 90%;
}
.value-100 {
  width: 100%;
}

/* ANIMATION   */

@-webkit-keyframes slideIn {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  100% {
    width: normal;
  }
}
@-moz-keyframes slideIn {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  100% {
    width: normal;
  }
}
@-ms-keyframes slideIn {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  100% {
    width: normal;
  }
}
@-o-keyframes slideIn {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  100% {
    width: normal;
  }
}
@keyframes slideIn {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  100% {
    width: normal;
  }
}

.skillBarValue {
  -webkit-animation: slideIn 2s;
  -moz-animation: slideIn 2s;
  -o-animation: slideIn 2s;
  animation: slideIn 2s;
}

/* SLIDERS */

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  transition: opacity 0.4s ease-in-out;
}

.slider a {
  display: inline-block;
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #36ace0;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 30px;
  animation: fadeInUp 1s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 36%;
  left: -600px;
  width: 600px;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px 35px 35px 100px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

button#next {
  position: absolute;
  top: 49%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 49%;
  left: 15px;
}

.buttons button {
  border: 2px solid #061325;
  background: transparent;
  color: #36ace0;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
}

.buttons button:hover {
  background-color: #36ace0;
  color: #333;
}

.slide:first-child {
  background: url("../content/js.jpg") no-repeat center center/cover;
}

.slide:nth-child(2) {
  background: url("../content/css.jpg") no-repeat center top/cover;
}

.slide:nth-child(3) {
  background: url("../content/html.jpg") no-repeat center top/cover;
}

/* CONTACT */

.contact {
  padding: 50px 0px 0px;
}

.contact h2 {
  text-align: center;
}

.contact p {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 30px;
}

.contact-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.contact-icons .icon {
  display: flex;
  align-items: center;
  margin: 0 30px 30px;
  max-width: 250px;
  text-align: center;
}

.contact-icons .icon i {
  font-size: 48px;
  margin-right: 20px;
}

.contact-icons .icon h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-icons .icon p {
  font-size: 16px;
}

/* FOOTER */

footer {
  min-width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

footer .flex {
  display: flex;
  justify-content: space-between;
}

footer .title-2 {
  font-size: 18px;
  color: #061325;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.2px;
}

footer .foot-1 {
  font-size: 18px;
  color: #061325;
  line-height: 60px;
  letter-spacing: 0.2px;
}

/* FOOTER ENDS */

/* RESPONSIVE */

/* For tablets */
@media screen and (max-width: 768px) {
  .container {
    width: min(100% - 20px, 100%);
    padding: 0 10px;
  }

  .head-1 {
    flex-wrap: wrap;
  }

  .title-1 {
    font-size: 18px;
    line-height: 40px;
  }

  nav ul li {
    margin-left: 20px;
  }

  .hero {
    height: 500px;
  }

  .hero h1 {
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 20px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }

  .about h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .about p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .skillBar h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .skillBarContainer {
    height: 20px;
  }

  .skillBarValue {
    height: 20px;
  }
}

/* For mobile */
@media screen and (max-width: 480px) {
  .container {
    width: min(100% - 20px, 100%);
    padding: 0 10px;
  }

  .head-1 {
    flex-wrap: wrap;
  }

  nav ul li {
    display: none;
  }

  .icon-list {
    display: block;
    margin-top: 12px;
    text-align: right;
    background-color: transparent;
  }

  .title-1 {
    font-size: 16px;
    line-height: 30px;
  }

  nav ul li {
    margin-left: 10px;
  }

  .hero {
    height: 300px;
  }

  .hero h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }

  .btn {
    font-size: 12px;
    padding: 6px 12px;
  }

  .about h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .about p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .skillBar h3 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .skillBarContainer {
    height: 16px;
  }

  .skillBarValue {
    height: 16px;
  }
}
